{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-6">
        <div class="card p-3">
            <h2 class="card-title">Добавление категории</h2>
            <div class="card-body p-0 pt-2">
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% bootstrap_button "Сохранить" button_type="submit" button_class='btn-primary' %}
                
            </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
